.indicator {
  .glyph {
    background-color: white;
  } 

  &.indicator--up {
    .icon {
      background: var(--button-darker-color);
    }
  }

  &.indicator--down {
    .icon {
      background: var(--button-alt-darker-color);
    }
  }

  &.indicator--self {
    .glyph {
      background-color: black;
    } 
    .icon {
      background: var(--light-background-color);
    }
  }

  &.indicator--error {
    .icon {
      background: var(--invalid-color);
    }
  }
}
