.icon {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: content-box;
}

.glyph {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.glyph--arrow {
  mask: url(~assets/arrow.svg) center no-repeat;
}

.glyph--human {
  mask: url(~assets/human.svg) center no-repeat;
}

.glyph--tick {
  mask: url(~assets/tick.svg) center no-repeat;
}

.glyph--arrow-up {
  mask: url(~assets/arrow.svg) center no-repeat;
  transform: rotate(180deg);
}

.glyph--close {
  mask: url(~assets/close.svg) center no-repeat;
}

.glyph--settings {
  mask: url(~assets/settings.svg) center no-repeat;
}

.glyph--back {
  mask: url(~assets/back.svg) center no-repeat;
}

.glyph--copy-clipboard {
  mask: url(~assets/copy_clipboard.svg) center no-repeat;
}

.glyph--coinbase {
  mask: url(~assets/coinbase.svg) center no-repeat;
}

.glyph--shapeshift {
  mask: url(~assets/shapeshift.svg) center no-repeat;
}
