/* TODO: sort out naming */
:root {
  --foreground-color: #353a41;
  --background-color: #ffffff;
  --valid-color: #34cd65;
  --info-color: #4880ff;
  --label-color: var(--info-color);
  --border-color: #dbdbdb;
  --border-focus-color: #b4b4b4;
  --invalid-color: #ff0054;
  --warning-color: #f5a623;
  --button-color: #4880ff;
  --button-shadow-color: rgba(72,128,255,0.50);
  --button-darker-color: #386be1;
  --button-fg: #ffffff;
  --button-alt-color: var(--valid-color);
  --button-alt-shadow-color: rgb(32, 190, 83, 0.50);
  --button-alt-darker-color: #20be53;
  --button-reject-color: #dc3664;
  --button-reject-shadow-color: rgba(255, 0, 84, 0.2);
  --button-reject-darker-color: #b31e48;
  --button-light-darker-color: #d4d6d8;
}
