.btn {
  height: 40px;
  display: flex;
  justify-content: space-around;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
	color: var(--button-fg);
  background-color: var(--button-color);
  font-size: 13px;
	font-weight: bold;
	line-height: 20px;
  transition: all 0.5s;
  box-shadow: -2px 9px 30px 0px var(--button-shadow-color);

  .caption {
    flex-basis: 120px;
  }

  .icon {
    background: var(--button-darker-color);
  }

  .glyph {
    background-color: white;
  }
}

.btn:hover {
  background-color: var(--button-darker-color);
  box-shadow: none;

  .icon {
    transition: all 0.7s;
    background-color: white;
  }

  .glyph {
    background-color: var(--button-darker-color);
  }
}

.btn--responsive {
  width: auto;
}

.btn--alt {
  box-shadow: -2px 9px 30px 0px var(--button-alt-shadow-color);
  background-color: var(--button-alt-color);

  .icon {
    background: var(--button-alt-darker-color);
  }
}

.btn--alt:hover {
  background-color: var(--button-alt-darker-color);

  .glyph {
    background-color: var(--button-alt-darker-color);
  }
}

.btn--reject {
  box-shadow: -2px 9px 30px 0px var(--button-reject-shadow-color);
  background-color: var(--button-reject-color);

  .icon {
    background: var(--button-reject-darker-color);
  }
}

.btn--reject:hover {
  background-color: var(--button-reject-darker-color);

  .glyph {
    background-color: var(--button-reject-darker-color);
  }
}

.btn--light, .btn--light:hover {
  background-color: white;
  color: var(--foreground-color);
  border: 1px solid var(--border-color);
  box-shadow: none;

  .icon {
    background: white;
    border: 1px solid var(--border-color);
  }
  .glyph {
    background: var(--foreground-color);
  }
}

.btn--light:hover {
  background-color: white;
  border-color: var(--border-focus-color);

  .icon {
    border: 1px solid var(--button-darker-color);
    background: var(--button-darker-color);
  }

  .glyph {
    background: white;
  }
}

.btn--responsive {
  width: auto;
}

.btn:disabled,
.btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
  box-shadow: none;
}

.buttons--2row {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: flex-end;

    .btn {
      width: 47.5%;
    }
}
